body{
    margin: 0;
    height: 100vh;
}



.iframestyle{
    flex-grow: 1; 
    border: none!important; 
    margin: 0;
    padding: 0;
    width: 100vh;

 

}

#container-center{
  display: flex;
 overflow: hidden;
 overflow-y: hidden;
 overflow-x: hidden;
 height: inherit;
 width: 100vw;
}

#main-container{
display: flex;
 overflow-y: hidden;
 overflow-x: hidden;
 height: inherit;
 width: 100vw;
}
